@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&display=swap');
:root {
    --progress-position: 0%;
    --volume-position: 100%;
}

body {
    background-color: white;
    margin: 10px 0;
}

body * {
    font-family: Roboto;
}

main {
    width: 90vw;
    margin: 0 auto;
}

.select-files {
    position: absolute;
    width: 200px;
    height: 50px;
}

.hide {
    display: none !important;
}

.video-player-container {
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.video-title {
    margin: 0;
}

.video-title>h1 {
    margin-left: 10px;
    font-family: "Noto Sans JP";
    margin-bottom: 0;
}

.video-title::after {
    background-color: gray;
    box-shadow: 0px 3px 5px gray;
    position: absolute;
    content: "";
    width: 90vw;
    height: 1px;
}

.video-description>p {
    text-align: justify;
}

.video-description::after {
    background-color: gray;
    box-shadow: 0px 3px 5px gray;
    position: absolute;
    content: "";
    width: 90vw;
    height: 1px;
}

.video-player {
    border-color: cadetblue;
    width: 80%;
    height: auto;
    margin: 0;
    position: relative;
}

.video-player .custom-controls {
    position: absolute;
    width: 100%;
    height: calc(100vw/20);
    border-color: deeppink;
    border-style: none;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    z-index: 2147483647;
}

.video-player * {
    font-size: calc(100vw / 40);
    color: gray;
}

.video-player button.play-main {
    position: absolute;
    width: calc(100vw / 10);
    height: calc(100vw / 10);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;
    border-width: calc(100vw - 99.5vw);
    cursor: pointer;
    z-index: 2147483647;
}

.video-player button.play-main i {
    font-size: calc(100vw / 20);
}

.video-player .custom-controls button,
.video-player .custom-controls input {
    left: 0;
    float: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

video::-webkit-media-controls {
    display: none !important;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(to right, #00a5c2 0%, #00a5c2 var(--progress-position), white var(--progress-position), white 100%);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range].volume-bar::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00a5c2 0%, #00a5c2 var(--volume-position), white var(--volume-position), white 100%);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}

.video-player .custom-controls .progress-bar {
    width: 60%;
}

.video-player .custom-controls .volume-bar {
    width: 25%;
}

.video-player video {
    width: 100%;
    height: auto;
}

.video-selector {
    /* height: 100%; */
    padding-left: 5px;
    padding-top: 5px;
    width: 20%;
    border-style: none;
    border-color: tomato;
    margin-left: 10px;
    overflow: hidden;
    background-color: gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.to-video-scroll {
    width: 100%;
    height: 100px;
}

.card-video img {
    height: auto;
    width: 50%;
    float: left;
}

.card-video {
    /* display: flex; */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 5px;
    /* border-top-style: solid; */
    /* border-bottom-style: solid; */
    border-width: 1px;
    border-color: rgb(102, 102, 102);
}

.videos-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-card-video img {
    height: auto;
    box-shadow: 2px 2px 5px grey;
}

.container-card-video p {
    font-size: 22px;
    text-align: center;
    margin: 0 0 5px 0;
    text-shadow: 1px 1px 1px grey
    /* , 1px -1px 1px grey, -1px 1px 1px grey, 1px 1px 1px grey; */
}

.container-card-video {
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.container-card-video>div {
    position: relative;
}

.card-video:hover>.video-card-selector {
    opacity: 0.2;
}

.video-card-selector {
    top: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
}

.container-card-video:hover>.video-card-selector {
    opacity: 0.2;
}

.container-card-video:hover .add-playlist {
    opacity: 1;
}

.add-playlist {
    padding: 2px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: wheat;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 100;
}

.add-playlist>i {
    font-size: 22px;
    color: white;
}