@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    transition: filter 1s ease-in-out;
}

.fade {
    filter: blur(200px);
}

.slider-left {
    height: 100vh;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
}

.horizontal .slider-left {
    height: 35%;
    width: 100vw;
}

.slider-left>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-position: left top;
    flex-wrap: wrap;
}

.horizontal .slider-left>div {
    float: left;
    width: 100vw;
}

.leftImageContainer {
    flex-basis: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(-1);
    background-position: left top;
    background-size: cover;
    filter: blur(1.5rem)
}

.horizontal .leftImageContainer {
    transform: unset;
}

.audio-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.audio-container button {
    font-size: 28px;
    border-style: solid;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    z-index: 100;
    padding: 0px;
    background-color: gray;
    border-color: gray;
    color: white;
    padding-top: 0.5%;
}

.audio-container button.orientation-button {
    border-radius: 5px;
    margin-left: 70px;
}

.audio-container button:hover {
    background-color: darkgrey;
    border-color: darkgrey;
    color: white;
}

.audio-container button:focus {
    background-color: gray;
    border-color: gray;
    color: white;
}

.audio-container .playButton {
    font-size: 30px;
    height: 50px;
    width: 50px;
    /* padding-left: 2%; */
    padding-top: 0.5%;
}

.audio-container button>* {
    size: 100%;
}

.slider-left h1 {
    font-size: calc(50 * (100vw / 680));
    margin-bottom: 10px;
    margin-top: -30px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.slider-left p {
    font-size: calc(32 * (100vw / 680));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slider-right {
    height: 100vh;
    width: 65%;
    left: 35%;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
}

.horizontal .slider-right {
    height: 65%;
    width: 100%;
    top: 35%;
    left: 0;
    overflow: hidden;
}

.slider-right-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.slider-right .slider-right-container>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .button-down {
    transform: translateX(-100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.slider-container .action-buttons .button-up {
    transform: translateY(-100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slider-container.horizontal .action-buttons button {
    left: 0;
    top: 35%;
    width: 100vw;
    height: 35%;
    border-radius: 0;
    opacity: 50%;
    font-size: 80px;
}

.slider-container.horizontal .action-buttons .button-down {
    transform: unset;
    top: 35%;
    height: 55%;
}

button {
    background-color: white;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:focus {
    outline: none;
}

button:hover {
    color: black;
}

.switch-container {
    flex-basis: 100%;
}

.switch-container>h3 {
    margin-top: 5px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: left;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    /* background-color: #2196F3; */
    background-color: rgba(40, 176, 255, 0.5);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}