@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background-color: #b9a496;
    margin: 0;
}

body * {
    font-family: 'Roboto';
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: calc(100% - 40px);
}

header {
    /* margin-top: 3%; */
    background-color: #a87441;
}

header * {
    position: relative;
    text-align: center;
    margin: 0;
    line-height: calc(100vw/20);
}

aside {
    margin: 0;
    background-color: #352317;
    max-width: 400px;
    /* padding: 10px; */
    color: wheat;
}

.education p {
    margin-left: 20px;
}

.education p::before {
    display: block;
    content: '';
    border-style: solid;
    width: 5px;
    height: 5px;
    margin: 5px;
    border-width: 1px;
    border-radius: 50%;
    float: left;
}

aside p {
    margin: 0;
}

aside a {
    text-decoration: none;
    display: block;
    color: wheat;
    transition: background-color 1s;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: calc(100vw/40);
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 10px 0px 10px 20px */
}

aside a:hover {
    background-color: #1f7171;
}

aside article {
    padding: 10px;
}

.photo-container {
    height: auto;
}

.photo-container img {
    width: 100%;
    height: auto;
}

.skills ul {
    list-style-type: none;
    padding-left: calc(100vw/40);
}

li::before,
article>p>a:before {
    content: '';
    display: block;
    width: calc(100vw/40);
    height: calc(100vw/40);
    float: left;
    background-size: 100%;
    margin-right: 10px;
}

.gmail:before {
    background-image: url('assets/icons/gmail.svg');
}

.discord:before {
    background-image: url('assets/icons/discord.svg');
}

.cpp::before {
    background-image: url('assets/icons/c++.svg');
}

.cs::before {
    background-image: url('assets/icons/c-sharp-logo.svg');
}

.html::before {
    background-image: url('assets/icons/html-5.svg');
}

.css::before {
    background-image: url('assets/icons/css3.svg');
}

.js::before {
    background-image: url('assets/icons/javascript.svg');
}

.gh::before {
    background-image: url('assets/icons/github.svg');
}

.py::before {
    background-image: url('assets/icons/python.svg');
}

.r::before {
    background-image: url('assets/icons/rust-lang.svg');
}

.skills li {
    margin-top: 10px;
}

.skills ul li:first-child {
    margin-top: 20px;
}

main {
    display: flex;
    margin: 0;
}

.content {
    background-color: blanchedalmond;
    width: 100%;
    padding: 20px;
}

.about {
    padding-top: 10px;
    overflow: hidden;
    /* min-height: 1000px; */
}

main h2 {
    margin: 0;
    margin: 0, 10px;
    border-bottom: rgb(94, 94, 94);
    border-bottom-style: solid;
}

.about h2 {
    text-align: center;
}

aside h2 {
    margin-top: 10px;
}

nav {
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: darkgoldenrod;
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

nav ul li a {
    text-decoration: none;
    font-size: 32px;
    color: white;
}

nav input {
    display: none;
}

nav input:checked~.menu-button>span {
    transform: rotate(45deg);
}

nav input:checked~.menu-button>span::before {
    top: 0;
    transform: rotate(90deg);
}

nav input:checked~.menu-button>span::after {
    top: 0
}

.menu-button {
    display: none;
    position: absolute;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 101;
}

.menu-button>span,
.menu-button>span::before,
.menu-button>span::after {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    transition-duration: 0.5s;
}

.menu-button>span::before {
    content: '';
    top: -8px;
}

.menu-button>span::after {
    content: '';
    top: 8px;
    transition-duration: 0.05s;
}


/*adaptation settings*/

h3 {
    font-size: calc(100vw/75);
}

h2 {
    font-size: calc(100vw/60);
}

h1 {
    font-size: calc(100vw/30);
}

p,
aside li,
aside p,
pre,
.about {
    font-size: calc(100vw/70);
}

@media (max-width: 880px) {
    nav {
        position: absolute;
    }
    nav input:checked~ul {
        visibility: initial;
    }
    nav ul {
        display: block;
        visibility: hidden;
    }
    header * {
        line-height: calc(100vw/15);
        ;
    }
    .menu-button {
        display: flex;
    }
    .skills ul {
        padding: 0;
    }
    aside a {
        padding-left: 0;
    }
}