@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slider-left {
    height: 100vh;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.slider-left>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-position: left top;
    flex-wrap: wrap;
}

.leftImageContainer {
    flex-basis: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(-1);
    filter: blur(1.5rem)
}

.slider-left h1 {
    font-size: 80px;
    margin-bottom: 10px;
    margin-top: -30px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.slider-left p {
    font-size: 32px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slider-right {
    height: 100vh;
    width: 65%;
    left: 35%;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
}

.slider-right>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .button-down {
    transform: translateX(-100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.slider-container .action-buttons .button-up {
    transform: translateY(-100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button {
    background-color: white;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:focus {
    outline: none;
}

button:hover {
    color: black;
}