html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 50px;
    min-height: 60px;
}

.logo {
    display: block;
    margin-top: 7px;
    margin-bottom: 0px;
    background-image: url("assets/svg/logo.svg");
    background-repeat: no-repeat;
    transition: 1s;
}

.logo:hover {
    filter: invert(51%) sepia(46%) saturate(259%) hue-rotate(356deg) brightness(96%) contrast(90%);
}

.logo a {
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

h1 {
    margin-top: 0px;
    color: white;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

header nav {
    margin-top: 0px;
}

header nav ul {
    display: flex;
    margin-top: 11px;
}

header nav ul li {
    list-style: none;
}

nav a {
    margin-left: 76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 0px;
    transition: 1s;
}

nav a:hover {
    color: #9D8665;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-title {
    margin: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    min-height: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: calc(100% - 40px);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.dark {
    background-color: black;
}

.welcome {
    background-image: url("assets/img/background.png");
    background-position: calc(50% + 351px) 100%;
    background-repeat: no-repeat;
    min-height: 665px;
}

.welcome-message {
    padding-top: 105px;
}

.welcome .bgimage {
    float: right;
    padding-right: 0px;
    padding-top: -20px;
}

.welcome .welcomeundertext {
    position: relative;
    padding-top: 27px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    letter-spacing: 1.7px;
    text-decoration: none;
}

.welcome .welcomebutton {
    margin-top: 75px;
    height: 75px;
    width: 360px;
    border-radius: 10px;
    color: white;
    background-color: maroon;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    display: block;
    transition: 1s;
}

.welcome .welcomebutton:hover {
    background-color: #9D8665;
}

.text-white {
    color: white;
}

.visiting {
    min-height: 1000px;
}

.text-golden {
    color: #9D8665;
}

.visiting-heading {
    position: relative;
    left: 0%;
    width: 100%;
}

.visiting-heading::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: maroon;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: maroon;
}

.cards-container {
    margin-top: 105px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 77px;
    column-gap: 60px;
}

.cards-container a {
    display: block;
    min-height: 400px;
    text-decoration: none;
}

.cards-container a:hover>.title::after {
    right: 0px;
}

.cards-container .title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
    color: black;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.cards-container .title::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    transition: 1s;
    right: 32%;
    height: 3px;
    background-color: maroon;
}

.cards-container .virtualtour {
    margin-top: 21px;
    margin-bottom: 0px;
    position: relative;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.cards-container .streetview {
    margin-top: 9px;
    margin-bottom: 0px;
    position: relative;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.explore {
    /* padding-top: 75px; */
    min-height: 713px;
}

.explore img {
    margin-top: 14px;
    padding-top: 0px;
    width: 50%;
    height: 50%;
}

.explore .explore-description {
    margin-top: 24px;
    margin-bottom: 0px;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1.06px;
    line-height: 39.3px;
    width: 91%;
}

.explore span {
    color: khaki;
    letter-spacing: 1px;
}

.explore .explore-margin {
    margin-bottom: 103px;
    max-width: 660px;
}

.video {
    padding-top: 90px;
    min-height: 844px;
}

.video .video-player {
    width: 100%;
    margin-bottom: 50px;
    vertical-align: middle;
    display: table-cell;
}

.video-control-panel {
    width: 100%;
    min-height: 63px;
    background-color: black;
    padding-top: 22px;
    margin-bottom: 40px;
}

.video-control-panel button {
    width: 40px;
    height: 40px;
    position: relative;
    background-repeat: no-repeat;
    background-color: unset;
    background-size: 100% 100%;
    display: block;
    border: none;
}

.video-control-panel .previous {
    float: left;
    margin-left: 35px;
    background-image: url("assets/svg/previous.svg");
}

.video-control-panel .playbutton {
    background-image: url("assets/svg/playbutton-small.svg");
}

.video-control-panel .next {
    background-image: url("assets/svg/next.svg");
}

.video-control-panel .scrollbar {
    width: 820px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0px;
}

.video-control-panel input[type="range"] {
    margin-top: 15px;
    height: 10px;
    border-radius: 0px;
}

.video-control-panel .volume {
    margin-right: 13px;
}

.video-control-panel .volumebar {
    margin-left: 20px;
    width: 160px;
    height: auto;
}

.video-control-panel .fullscreen {
    margin-right: 40px;
}

.video-control-panel .volumebutton {
    background-image: url("assets/svg/volume.svg");
    float: left;
}

.video-control-panel .fullscreen {
    background-image: url("assets/svg/fullscreen.svg");
}

.video-player-content .playbutton {
    position: relative;
    transform: translate(0, 90%);
    background-image: url("assets/svg/playbutton.svg");
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: 60%;
    background-color: unset;
    display: block;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: 10px;
    width: 225px;
    height: 225px;
}

.video-player-content {
    background-image: url("assets/video/poster.jpg");
    min-width: 1440px;
    min-height: 629px;
}

.video .title {
    min-width: 700px;
}

.video .video-description {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 0.15px;
    line-height: 40px;
    width: 91%;
}

.tickets {
    min-height: 743px;
}

.ticket-type {
    margin-top: 0px;
    font-family: Roboto;
    font-style: normal;
}

.tickets-container img {
    float: left;
}

.ticket-selector {
    padding-left: 60px;
}

.ticket-selector h2 {
    font-weight: bolder;
    text-decoration: none;
    margin: 0px;
    letter-spacing: 2.6px;
}

.ticket-selector input {
    margin-left: 0px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    cursor: pointer;
    /* opacity: 0; */
}

.ticket-amount {
    margin-top: 0px;
    font-family: Roboto;
    font-style: normal;
    margin-left: auto;
    margin-right: 0px;
}

.ticket-amount h2 {
    display: block;
    max-width: 100px;
    margin-right: 0px;
    margin-left: auto;
}

.amount {
    margin-top: 12px;
    height: 45px;
    border-style: solid;
    border-color: white;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    font-weight: bold;
}

.amount input[type="number"] {
    height: 100%;
    min-width: 40px;
    background-color: black;
    color: white;
    font-family: Roboto;
    min-width: 40px;
    border-style: none;
    text-align: center;
    font-stretch: wider;
    font-size: 22px;
}

.amount input[type="number"]::-webkit-inner-spin-button,
.amount input[type="number"]::-webkit-outer-spin-button,
.amount input[type="number"]:focus {
    display: none;
}

.amount-button {
    min-width: 40px;
    font-stretch: wider;
    font-size: 35px;
    display: block;
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
}

.amount-container {
    width: 150px;
    font-style: normal;
    font-size: 22px;
    margin-right: 0px;
    margin-left: auto;
}

.amount-block {
    margin-top: 15px;
    margin-bottom: 35px;
}

.total {
    margin-top: 50px;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 3px;
    max-width: 150px;
    margin-right: 0px;
    margin-left: auto;
}

.buy-button {
    display: block;
    text-decoration: none;
    margin-top: 55px;
    background-color: white;
    width: 175px;
    height: 50px;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 1s;
}

.buy-button:hover {
    background-color: #9D8665;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.tickets-container {
    margin-top: 105px;
}

.ticket-type-container {
    margin-top: 40px;
}

.ticket-type .custom-radio {
    position: absolute;
    opacity: 255;
    z-index: -1;
}

.ticket-type .custom-radio:checked+label::before {
    background-color: silver;
}

.ticket-type label {
    letter-spacing: 0.2px;
    font-style: normal;
    font-weight: normal;
    line-height: 56px;
    font-size: 22px;
    display: block;
}

.ticket-type label:hover::before {
    background-color: white;
}

.ticket-type label::before {
    display: inline-block;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    content: ' ';
    margin-right: 20px;
    margin-left: 0px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.contacts {
    min-height: 812px;
}

.contacts-description {
    margin-top: 115px;
    margin-bottom: 26px;
    line-height: 33px;
    position: relative;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.contacts-address {
    margin-bottom: 0px;
    line-height: 46px;
    position: relative;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.2px;
    font-size: 22px;
}

.contacts img {
    margin-top: 104px;
}

footer {
    min-height: 300px;
    padding-top: 59px;
}

.footer-logo {
    margin-top: 25px;
    min-height: 80px;
}

footer nav {
    max-height: 100px;
    margin-top: 0px;
    margin-left: 20px;
    min-width: 555px;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 150px;
}

footer nav ul li {
    max-width: 200px;
}

footer nav ul li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 50px;
}

.social {
    margin-top: 89px;
    min-width: 500px;
    justify-content: flex-end;
    gap: 50px;
}

.social ul {
    padding-left: 0px;
}

.social ul li {
    margin-left: 25px;
    list-style: none;
    width: 45px;
    height: 45px;
    border-style: solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
    float: left;
    transition: 1s;
    border-width: 1px;
}

.social ul li:hover {
    filter: invert(51%) sepia(46%) saturate(259%) hue-rotate(356deg) brightness(96%) contrast(90%);
}

.social ul li a {
    width: 100%;
    height: 100%;
    display: block;
}

.youtube {
    background-image: url("assets/svg/youtube.svg");
}

.instagram {
    background-image: url("assets/svg/instagram.svg");
}

.facebook {
    background-image: url("assets/svg/facebook.svg");
}

.twitter {
    background-image: url("assets/svg/twitter.svg");
}

.pinterest {
    background-image: url("assets/svg/pinterest.svg");
}