    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
     :root {
        --explore-pos: 400px;
        --volume-position: 0%;
        --progress-position: 0%;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        width: 100%;
        margin: 0%;
    }
    
    .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
    
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header {
        padding-top: 53px;
        min-height: 60px;
    }
    
    .logo {
        display: block;
        margin-top: 7px;
        padding-left: 5px;
        margin-bottom: 0px;
        background-image: url("assets/svg/logo.svg");
        background-repeat: no-repeat;
        transition: filter 1s;
    }
    
    .logo:hover {
        filter: invert(51%) sepia(46%) saturate(259%) hue-rotate(356deg) brightness(96%) contrast(90%);
    }
    
    .logo a {
        margin-left: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: white;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
    }
    
    h1 {
        margin-top: 0px;
        color: white;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    header nav {
        margin-top: 0px;
    }
    
    header nav ul {
        padding: 0;
        width: 775px;
        display: flex;
        margin-top: 11px;
        right: 0;
        justify-content: space-between;
    }
    
    header nav ul li {
        list-style: none;
    }
    
    nav a {
        /* margin-left: 76px; */
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        letter-spacing: 2px;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        line-height: 0px;
        transition: color 1s;
    }
    
    nav a:hover {
        color: #9D8665;
    }
    
    .section {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    
    .section-title {
        margin: 0px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        min-height: 80px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    .container {
        margin: 0 auto;
        max-width: 1440px;
        width: calc(100% - 40px);
    }
    
    .flex {
        display: flex;
        justify-content: space-between;
    }
    
    .dark {
        background-color: black;
    }
    
    .welcome {
        /* background-image: url("assets/img/background.png");
    background-position: calc(50% + 351px) 100%;
    background-repeat: no-repeat; */
        min-height: 697px;
    }
    
    .welcome-left-content {
        width: 50%;
        position: absolute;
        z-index: 101;
    }
    
    .welcome-right-content {
        position: absolute;
        /* left: 35%; */
        right: 230px;
        top: 150px;
        z-index: 100;
    }
    
    .slider-container {
        transition: 1s;
    }
    
    .slides,
    .slide {
        height: 750px;
    }
    
    .slide {
        width: 1000px;
        float: left;
    }
    
    .slider-wrapper {
        width: 1000px;
        height: 750px;
        overflow: hidden;
        position: relative;
    }
    
    .slides {
        position: absolute;
    }
    
    .gradient {
        position: absolute;
        width: 30%;
        height: 100%;
        background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
        z-index: 101;
    }
    
    .slider-controls {
        position: absolute;
        background-color: #000;
        width: 600px;
        right: 0px;
        height: 120px;
        bottom: -59px;
        z-index: 101;
    }
    
    .number {
        color: #fff;
        font-family: "Roboto";
        width: 74px;
        height: 100%;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        /* padding-top: 49px; */
        line-height: 121px;
        padding-left: 74px;
        display: flex;
        justify-content: space-between;
        float: left;
    }
    
    .number::after {
        content: '';
        position: absolute;
        color: #fff;
        border-left-style: solid;
        width: 2px;
        height: 20px;
        margin-left: 35px;
        margin-top: 52px;
    }
    
    .control-arrows {
        height: 100%;
        padding-top: 57px;
        float: left;
    }
    
    .arrow {
        display: block;
        background-image: url('assets/svg/arrow-to-left.svg');
        background-repeat: no-repeat;
        height: 10px;
        width: 40px;
        float: left;
        cursor: pointer;
    }
    
    .arrow-right {
        transform: scaleX(-1);
    }
    
    .slide-buttons {
        display: flex;
        width: 180px;
        height: 100%;
        float: left;
        justify-content: space-between;
        margin-left: 55px;
        margin-top: 53px;
        margin-right: 60px;
    }
    
    .slide-button {
        width: 16px;
        height: 16px;
        background-color: #bcbcbc;
    }
    
    .welcome-message {
        padding-top: 113px;
        line-height: 90px;
    }
    
    .welcome .bgimage {
        float: right;
        padding-right: 0px;
        padding-top: -20px;
    }
    
    .welcome .welcomeundertext {
        position: relative;
        padding-top: 23px;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 29px;
        letter-spacing: 1.7px;
        text-decoration: none;
    }
    
    .welcome .welcomebutton {
        margin-top: 75px;
        height: 75px;
        width: 360px;
        border-radius: 10px;
        color: white;
        background-color: maroon;
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: 2px;
        text-decoration: none;
        text-align: center;
        line-height: 75px;
        display: block;
        transition: background-color 1s;
    }
    
    .welcome .welcomebutton:hover {
        background-color: #9D8665;
    }
    
    .text-white {
        color: white;
    }
    
    .visiting {
        min-height: 1000px;
        padding-bottom: 74px;
    }
    
    .text-golden {
        color: #9D8665;
    }
    
    .visiting-heading {
        position: relative;
        left: 0%;
        width: 100%;
    }
    
    .visiting-heading::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: maroon;
    }
    
    .underline {
        position: relative;
    }
    
    .underline::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: maroon;
    }
    
    .cards-container {
        margin-top: 105px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 73px;
        column-gap: 60px;
    }
    
    .cards-container a {
        display: block;
        min-height: 400px;
        text-decoration: none;
    }
    
    .cards-container a:hover>.title::after {
        right: 0px;
    }
    
    .cards-container .title {
        position: relative;
        margin-top: 22px;
        margin-bottom: 0px;
        color: black;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    .cards-container .title::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0;
        transition: right 1s;
        right: 32%;
        height: 3px;
        background-color: maroon;
    }
    
    .cards-container .virtualtour {
        margin-top: 22px;
        margin-bottom: 0px;
        position: relative;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        letter-spacing: -0.3px;
    }
    
    .cards-container .streetview {
        margin-top: 9px;
        margin-bottom: 0px;
        position: relative;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.2px;
    }
    
    .explore {
        /* padding-top: 75px; */
        min-height: 713px;
    }
    
    .explore-container {
        position: relative;
        margin-top: 14px;
        padding-top: 0px;
    }
    
    .explore-container>.before {
        background-image: url('assets/img/Explore/before.jpg');
        width: 720px;
        height: 700px;
    }
    
    .explore-container>.explore-after {
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('assets/img/Explore/after.jpg');
        width: var(--explore-pos);
        height: 700px;
    }
    
    .explore-positioner {
        position: absolute;
        top: 0;
        left: var(--explore-pos);
        content: '';
        height: 700px;
        width: 10px;
        background-color: #fff;
        cursor: ew-resize;
        z-index: 101;
    }
    
    .explore img {
        width: 50%;
        height: 50%;
    }
    
    .explore .explore-description {
        margin-top: 24px;
        margin-bottom: 0px;
        position: relative;
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: 0.2px;
        line-height: 39.3px;
        width: 91%;
    }
    
    .explore span {
        color: khaki;
    }
    
    .explore .explore-margin {
        margin-bottom: 103px;
        max-width: 660px;
    }
    
    .video {
        /* padding-top: 76px; */
        min-height: 1247px;
    }
    
    .video .video-player {
        padding-top: 76px;
        width: 100%;
        margin-bottom: 50px;
        vertical-align: middle;
        display: table-cell;
        position: relative;
    }
    
    .video-control-panel {
        width: 100%;
        min-height: 86px;
        background-color: black;
        /* padding-top: 35px; */
        align-items: center;
        /* margin-bottom: 40px; */
    }
    
    .video-control-panel button {
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: relative;
        background-repeat: no-repeat;
        background-color: unset;
        background-size: 100% 100%;
        display: block;
        border: none;
    }
    
    .video-control-panel .previous {
        float: left;
        margin-left: 35px;
        background-image: url("assets/svg/previous.svg");
    }
    
    .video-control-panel .playbutton {
        margin-left: 25px;
        background-image: url("assets/svg/playbutton-small.svg");
    }
    
    .video-control-panel .next {
        background-image: url("assets/svg/next.svg");
    }
    
    input[type=range] {
        -webkit-appearance: none;
    }
    
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: linear-gradient(to right, maroon 0%, maroon var(--progress-position), white var(--progress-position), white 100%);
        border-radius: 1.3px;
        /* border: 0.2px solid #010101; */
    }
    
    input[type=range].volumebar::-webkit-slider-runnable-track {
        background: linear-gradient(to right, maroon 0%, maroon var(--volume-position), white var(--volume-position), white 100%);
    }
    
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #fff;
        height: 16px;
        width: 16px;
        margin-top: -5px;
        border-radius: 50%;
    }
    /* .video-control-panel button,
    .video-control-panel input {
        left: 0;
        float: left;
        background-color: transparent;
        border: none;
        cursor: pointer;
    } */
    
    .video-control-panel .scrollbar {
        width: 920px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 0px;
    }
    
    .video-control-panel input[type="range"] {
        cursor: pointer;
        height: 10px;
        border-radius: 0px;
    }
    
    .video-control-panel .volume {
        height: 100%;
        width: 240px;
        margin-right: 13px;
        display: flex;
        justify-content: space-between;
    }
    
    .video-control-panel .volumebar {
        margin-top: 15px;
        margin-left: 20px;
        width: 160px;
        height: auto;
    }
    
    .video-control-panel .fullscreen {
        margin-right: 25px;
    }
    
    .video-control-panel .volumebutton {
        background-image: url("assets/svg/volume.svg");
        float: left;
    }
    
    .video-control-panel .fullscreen {
        background-image: url("assets/svg/fullscreen.svg");
    }
    
    .video-player-content .playbutton {
        cursor: pointer;
        position: relative;
        transform: translate(0, 95%);
        background-image: url("assets/svg/playbutton.svg");
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-position: 60%;
        background-color: unset;
        display: block;
        border-color: white;
        border-style: solid;
        border-radius: 50%;
        border-width: 10px;
        width: 225px;
        height: 225px;
    }
    
    .video-player-content {
        background-image: url("assets/video/poster.jpg");
        background-size: cover;
        min-width: 1440px;
        min-height: 650px;
    }
    
    .video .title {
        min-width: 700px;
    }
    
    .video .video-description {
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 0px;
        position: relative;
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: 0.15px;
        line-height: 40px;
        width: 91%;
    }
    
    .video-slider-container {
        height: 254px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .video-slider-control {
        cursor: pointer;
        height: 254px;
        width: 452px;
        position: absolute;
        /* z-index: 101; */
        display: none;
    }
    
    .video-arrows-control {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
    .video-slider-dots {
        float: left;
        height: 20px;
        /* width: 1000px; */
    }
    
    .video-slider-arrow {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-image: url('assets/svg/video-arrow-left.svg');
        background-repeat: no-repeat;
        float: left;
        /* margin-top: 20px; */
    }
    
    #video-right {
        right: 0;
        transform: scaleX(-1);
    }
    
    .video-slider {
        margin-top: 40px;
        height: 350px;
        width: 100%;
        overflow: hidden;
        position: absolute;
    }
    
    .video-dot {
        float: left;
        width: 12px;
        height: 12px;
        background-color: #bcbcbc;
        border-radius: 50%;
        margin: 0 10px;
    }
    
    .video-slider-container>iframe {
        height: 254px;
        width: 452px;
    }
    
    .gallery {
        max-height: 2050px;
        overflow-y: hidden;
    }
    
    .g-cont {
        position: relative;
        margin-top: 76px;
        padding-top: 50px;
        height: 1910px;
        /* height: 2850px; */
        width: 1440px;
        overflow-y: hidden;
    }
    
    .gallery-fade {
        position: absolute;
        height: 500px;
        width: 100%;
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
        bottom: 0;
    }
    
    .gallery-container {
        height: 2720px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        flex-basis: 20%;
        row-gap: 24px;
        column-gap: 36px;
        overflow-x: hidden;
    }
    
    .gallery-container>.column {
        width: 480px;
    }
    
    .gallery-container img {
        height: auto;
        width: 456px;
        /* flex: auto; */
    }
    
    .parallax {
        min-height: 251px;
        padding: 0;
    }
    
    .parallax-container {
        width: 100%;
        height: 401px;
        background-image: url('assets/img/parallax.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    
    .tickets {
        min-height: 743px;
    }
    
    .ticket-type {
        margin-top: 0px;
        font-family: Roboto;
        font-style: normal;
    }
    
    .tickets-container img {
        float: left;
    }
    
    .ticket-selector {
        padding-left: 60px;
    }
    
    .ticket-selector h2 {
        font-weight: bolder;
        text-decoration: none;
        margin: 0px;
        letter-spacing: 0.5px;
        font-size: 1.7em;
    }
    
    .ticket-selector input {
        margin-left: 0px;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        cursor: pointer;
        /* opacity: 0; */
    }
    
    .ticket-amount {
        margin-top: 0px;
        font-family: Roboto;
        font-style: normal;
        margin-left: auto;
        margin-right: 0px;
    }
    
    .ticket-amount h2 {
        display: block;
        max-width: 100px;
        margin-right: 0px;
        margin-left: auto;
    }
    
    .entryTicket>.amount-container {
        position: absolute;
        top: 35px;
        right: 15px;
        width: 105px;
        /* width: 52px; */
    }
    
    .entryTicket>.amount-container>.amount {
        /* width: 52px; */
        height: 25px;
        border-width: 1px;
        width: 100%;
        margin-bottom: 16px;
        color: #fff;
    }
    
    .entryTicket>.amount-container>.amount * {
        color: #fff;
        font-size: 20px;
    }
    
    .entryTicket>.amount-container .amount-button {
        background-color: #000;
        width: 30px;
        min-width: 35px;
    }
    
    .entryTicket>.amount-container input[type="number"] {
        min-width: 20px;
        color: #000;
    }
    
    .amount {
        margin-top: 14px;
        height: 44px;
        border-style: solid;
        border-color: #000;
        text-align: center;
        line-height: 45px;
        font-size: 22px;
        font-weight: bold;
    }
    
    .amount input[type="number"] {
        height: 100%;
        min-width: 40px;
        background-color: #fff;
        color: #000;
        font-family: Roboto;
        min-width: 40px;
        border-style: none;
        text-align: center;
        font-stretch: wider;
        font-size: 22px;
    }
    
    .amount input[type="number"]::-webkit-inner-spin-button,
    .amount input[type="number"]::-webkit-outer-spin-button,
    .amount input[type="number"]:focus {
        display: none;
    }
    
    .amount-button {
        min-width: 40px;
        font-stretch: wider;
        font-size: 35px;
        display: block;
        cursor: pointer;
        background-color: #fff;
        border: none;
        color: #000;
    }
    
    .amount-container {
        width: 150px;
        font-style: normal;
        font-size: 22px;
        margin-right: 0px;
        margin-left: auto;
    }
    
    .amount-block {
        margin-top: 11px;
        /* margin-bottom: 35px; */
    }
    
    .amount-block:first-child {
        margin-top: 24px;
    }
    
    .total {
        margin-top: 49px;
        font-size: 27px;
        font-weight: bolder;
        letter-spacing: 2.1px;
        max-width: 150px;
        margin-right: 0px;
        margin-left: auto;
    }
    
    .buy-button {
        display: block;
        text-decoration: none;
        margin-top: 60px;
        background-color: maroon;
        width: 175px;
        height: 50px;
        border-radius: 3px;
        border-style: none;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: bold;
        transition: background-color 1s;
    }
    
    .buy-button:hover {
        background-color: #9D8665;
    }
    
    .booking {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: -110%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 110;
    }
    
    .booking-container {
        position: relative;
        margin: 3% auto;
        width: 1455px;
        height: 845px;
        background-color: #fff;
    }
    
    .booking-container>.content * {
        /* margin: 0; */
    }
    
    .booking-container>.content {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 90px 234px;
    }
    
    .booking-container>.content>.left-panel {
        width: 400px;
        float: left;
    }
    
    .booking-container>.content>.overview {
        border-style: solid;
        border-width: 1px;
        border-color: #9D8665;
        margin-left: 40px;
        height: 662px;
        width: 498px;
        float: left;
        padding-left: 30px;
        position: relative;
    }
    
    .overview>h2 {
        margin-left: 0px;
        margin-top: 26px;
        font-size: 31px;
        font-weight: 900;
        letter-spacing: 0.2px;
    }
    
    .overview .date::before,
    .overview .time::before,
    .overview .radio::before {
        background-image: url(assets/svg/date.svg);
        height: 20px;
        width: 20px;
        display: block;
        content: '';
        float: left;
        margin-right: 10px;
        margin-top: 3px;
        background-repeat: no-repeat;
    }
    
    .overview .time::before {
        background-image: url(assets/svg/Time.svg);
    }
    
    .overview .radio::before {
        background-image: url(assets/svg/check_circle_outline.svg);
    }
    
    .overview>.picture {
        background-image: url('assets/img/background.png');
        background-size: cover;
        position: absolute;
        width: 150px;
        height: 120px;
        right: 29px;
        top: 25px;
    }
    
    .overview>p {
        margin-top: 2.2px;
        margin-bottom: 0;
        color: maroon;
        font-size: 22px;
        letter-spacing: 0px;
    }
    
    .overview>ul {
        padding: 0;
        margin: 10px;
        margin-left: 0px;
        list-style: none;
    }
    
    .overview>ul>li {
        font-size: 18px;
        margin-bottom: 4px;
        letter-spacing: -0.15px;
    }
    
    .overview>.count {
        padding-top: 12px;
        height: 125px;
    }
    
    .overview>.count * {
        /* margin-left: 40px; */
        font-size: 22px;
        margin-bottom: 5px;
        float: left;
    }
    
    .overview>.count>* {
        width: 100%;
    }
    
    .overview>.count .count-text {
        margin: 0;
        width: 400px;
    }
    
    .overview>.count .sum {
        margin: 0;
        margin-left: auto;
        margin-right: 0;
        right: 0px;
    }
    
    .overview>.count>.count-line::before {
        margin-right: 10px;
        display: block;
        width: 30px;
        height: 21px;
        content: '';
        background-color: #000;
        border-radius: 4px;
        float: left;
        margin-top: 2px;
    }
    
    .overview>.count>hr {
        background-color: maroon;
        width: 470px;
        height: 2px;
        border: none;
        margin-top: 3px;
    }
    
    .overview>.count>.total-sum * {
        /* margin-top: 5px; */
        margin-top: 0;
        font-size: 32px;
        letter-spacing: 0;
        float: left;
    }
    
    .overview>.count>.total-sum {
        margin-top: 5px;
        font-size: 32px;
        letter-spacing: 0;
        float: left;
    }
    
    .overview>.count>.total-sum>p {
        margin-right: 345px;
    }
    
    .overview>.payment {
        position: relative;
        margin-top: 1px;
        height: 338px;
    }
    
    .overview>.payment>.top-card,
    .overview>.payment>.bottom-card {
        padding-top: 6px;
        padding-left: 19px;
        background-color: #bcbcbc;
        width: 340px;
        height: 206px;
        border-radius: 2px;
        position: relative;
    }
    
    .top-card {
        position: absolute;
        z-index: 101;
    }
    
    .bottom-card {
        position: absolute !important;
        top: 30px;
        left: 110px;
        z-index: 100;
        background-color: #939393;
    }
    
    .black-slide {
        margin-top: 20px;
        height: 45px;
        background-color: #000;
        margin-bottom: 15px;
    }
    
    .left-card-block {
        right: 0;
        width: 95px;
        margin-left: auto;
    }
    
    .left-card-block>p {
        margin-left: 9px;
        margin-bottom: 0;
    }
    
    .overview>.payment p {
        margin-top: 9px !important;
    }
    
    .left-card-block>p:last-child {
        margin-top: 6px !important;
        /* margin-left: 2px; */
        font-size: 11px;
        line-height: 12px;
        letter-spacing: -0.4px;
    }
    
    .overview>.payment>.top-card * {
        margin: 0;
    }
    
    .overview>.payment * {
        font-size: 13px;
        letter-spacing: -0.5px;
    }
    
    .overview>.payment input {
        margin-top: 5px !important;
        border: none;
        height: 35px;
    }
    
    .overview>.payment input[type='Number'] {
        width: 100px !important;
        margin-right: 13px;
    }
    
    .cardholder {
        width: 320px !important;
    }
    
    .card-number {
        width: 215px !important;
    }
    
    #cardCvv {
        width: 75px !important;
    }
    
    .book {
        position: absolute;
        right: 30px;
        bottom: 25px;
        width: 219px;
        height: 45px;
        border-radius: 3px;
        border: none;
        background-color: maroon;
        color: #fff;
        font-size: 23px !important;
        padding-top: 8px;
    }
    
    .booking-container>.content>.left-panel>.logo {
        background-image: url('assets/svg/logo-golden.svg');
        background-size: contain;
        height: 43px;
        margin: 0;
    }
    
    .booking-container>.content>.left-panel>.section-title {
        font-size: 50px;
        margin-left: 0;
        letter-spacing: 0;
        min-height: 45px;
    }
    
    .booking-container>.content>.left-panel>h3 {
        margin-top: 11px;
        margin-left: 0px;
        letter-spacing: -0.2px;
        font-size: 1.16em;
        font-weight: 400;
        color: maroon;
    }
    
    .booking-container>.content>.left-panel .visiting-heading::after {
        bottom: -45px;
    }
    
    .booking-container>.content>.left-panel>.br {
        height: 35px;
        display: block;
    }
    
    #dateInput,
    #timeInput {
        width: 190px;
    }
    
    #timeInput {
        margin-left: 16px;
    }
    
    .left-panel>input,
    .left-panel>select,
    .entryTicket {
        margin-top: 20px;
        border-color: #9D8665;
        color: #9D8665;
        border-width: 1px;
        width: 100%;
        height: 45px;
        position: relative;
    }
    
    .left-panel>input[type="date"]::-webkit-input-placeholder {
        content: '';
    }
    
    .entryTicket {
        border-width: 1px;
        border-style: solid;
        height: auto;
        width: 398px;
    }
    
    .entryTicket>h3 {
        margin-top: 8px;
        margin-left: 14px;
        margin-bottom: 26px;
        position: relative;
        font-size: 17px;
        left: 0%;
        width: 100%;
        font-weight: 400;
        letter-spacing: -0.2px;
    }
    
    .entryTicket>h3::after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 30px;
        height: 3px;
        background-color: maroon;
    }
    
    .entryTicket>h4 {
        color: #000;
        margin-top: 22px;
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 17px;
        letter-spacing: 0.5px;
        font-weight: 400;
    }
    
    .payment-close {
        display: block;
        cursor: pointer;
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        right: 45px;
        top: 25px;
        z-index: 1000;
    }
    
    .payment-close::before,
    .payment-close::after {
        position: absolute;
        display: block;
        content: ' ';
        width: 1px;
        height: 35px;
        background-color: #000;
    }
    
    .payment-close::before {
        transform: translateX(15px) rotate(45deg);
    }
    
    .payment-close::after {
        transform: translateX(15px) rotate(-45deg);
    }
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #000000;
        border: 2px solid #ffffff;
        border-radius: 50%;
    }
    
    .tickets-container {
        margin-top: 105px;
    }
    
    .ticket-type-container {
        margin-top: 50px;
    }
    
    .ticket-type .custom-radio {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    /* .ticket-type .custom-radio:checked+label::before {
        background-color: silver;
    } */
    
    .ticket-type .custom-radio:checked+label::after {
        background-color: #000;
        border-radius: 50%;
        content: ' ';
        left: 3px;
        top: -18px;
        position: relative;
        width: 9px;
        height: 9px;
        display: block;
        margin: 0;
        margin-bottom: -9px;
    }
    
    .ticket-type label {
        letter-spacing: -0.1px;
        font-style: normal;
        font-weight: normal;
        /* line-height: 56px; */
        font-size: 22px;
        display: block;
        cursor: pointer;
        margin-top: 5px;
    }
    
    .ticket-type label:hover::before {
        background-color: white;
    }
    
    .ticket-type label::before {
        display: inline-block;
        border-color: #000;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        content: ' ';
        margin-right: 24px;
        margin-left: 0px;
    }
    
    .card-type {
        position: absolute;
        width: 60px;
        height: 60px;
        right: 15px;
        top: 35px;
    }
    
    .visa-card {
        background-image: url(assets/svg/Visa.svg);
        height: 31px;
        width: 60px;
        background-repeat: no-repeat;
    }
    
    .master-card {
        background-image: url(assets/svg/Mastercard.svg);
        height: 40px;
        width: 60px;
        background-repeat: no-repeat;
    }
    
    .flex-column {
        display: flex;
        flex-direction: column;
    }
    
    .contacts {
        min-height: 812px;
    }
    
    .contacts-description {
        margin-top: 105px;
        margin-bottom: 38px;
        line-height: 33px;
        position: relative;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        /* letter-spacing: 0.5px; */
    }
    
    .contacts-address {
        margin-bottom: 0px;
        line-height: 51px;
        position: relative;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.2px;
        font-size: 22px;
    }
    
    .contacts-address a {
        cursor: pointer;
        color: black;
        text-decoration: none;
    }
    
    .contacts img {
        margin-top: 104px;
    }
    
    footer {
        min-height: 300px;
        padding-top: 59px;
    }
    
    .footer-logo {
        margin-top: 25px;
        min-height: 80px;
    }
    
    footer nav {
        min-height: 100px;
        margin-top: 0px;
        margin-left: 35px;
        min-width: 555px;
    }
    
    footer nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 150px;
        padding-left: 40px;
        width: 535px;
    }
    
    footer nav ul li {
        max-width: 200px;
    }
    
    footer nav ul li a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        letter-spacing: 2px;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        line-height: 50px;
    }
    
    .social {
        margin-top: 85px;
        min-width: 500px;
        justify-content: flex-end;
        gap: 50px;
    }
    
    .social ul {
        padding-left: 20px;
    }
    
    .social ul li {
        margin-left: 26px;
        list-style: none;
        width: 45px;
        height: 45px;
        border-style: solid;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        color: white;
        float: left;
        transition: filter 1s;
        border-width: 1px;
    }
    
    .social ul li:hover {
        filter: invert(51%) sepia(46%) saturate(259%) hue-rotate(356deg) brightness(96%) contrast(90%);
    }
    
    .social ul li a {
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .youtube {
        background-image: url("assets/svg/youtube.svg");
    }
    
    .instagram {
        background-image: url("assets/svg/instagram.svg");
    }
    
    .facebook {
        background-image: url("assets/svg/facebook.svg");
    }
    
    .twitter {
        background-image: url("assets/svg/twitter.svg");
    }
    
    .pinterest {
        background-image: url("assets/svg/pinterest.svg");
    }
    
    .end {
        padding-top: 15px;
        height: 100px;
        color: #fff;
        position: relative;
    }
    
    .end * {
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 1.7px;
    }
    
    footer>hr {
        margin-top: 22px;
        margin-bottom: 35px;
        /* width: 100vw; */
    }