@media (max-width:1024px) {
    .section {
        padding-top: 71.5px;
        padding-bottom: 75px;
    }
    .visiting-heading::after,
    .underline::after {
        bottom: -10px;
    }
    .explore .explore-margin {
        max-width: 100%;
        margin-bottom: 70px;
        letter-spacing: 0.18px;
    }
    .explore .explore-description {
        font-size: 20px;
        line-height: 35px;
        width: 100%;
        margin-top: 0;
        letter-spacing: 0.18px;
    }
    .explore .explore-description:nth-child(4) {
        display: none;
    }
    .explore-container {
        margin: 63px auto 0 auto;
    }
    .explore {
        padding-bottom: 60px;
    }
    .visiting {
        padding-bottom: 4px;
    }
    .explore .container {
        display: block;
    }
    #navOpen:checked~nav {
        display: initial;
    }
    header nav {
        position: absolute;
        left: 56px;
        top: 167px;
        width: 100%;
        height: 500px;
        display: none;
    }
    header nav ul {
        width: 120px;
    }
    header nav ul {
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 30px;
    }
    header nav ul li::after {
        float: right;
        content: '';
        display: block;
        background-image: url('../../assets/svg/li-arrow.svg');
        width: 8px;
        height: 12px;
    }
    header nav ul a {
        font-size: 20px;
        letter-spacing: 2.2px;
    }
    .welcome-right-content {
        top: -50px;
    }
    .slider-wrapper {
        height: 525px;
        width: 700px;
    }
    .slides .slide {
        width: 700px;
        height: 525px;
    }
    .section-title {
        font-size: 50px;
    }
    .welcome-message {
        padding: 0;
    }
    .welcome .welcomeundertext {
        font-size: 24px;
        letter-spacing: 2.18px;
    }
    .welcome .welcomebutton {
        margin-top: 50px;
        height: 60px;
        width: 300px;
        font-size: 20px;
        line-height: 65px;
        letter-spacing: 2.15px;
    }
    .welcome {
        min-height: 460px;
    }
    .slider-controls {
        width: 100%;
    }
    .slider-controls .number {
        padding-left: 220px;
    }
    .slide-button {
        height: 12px;
        width: 12px;
    }
    .slide-buttons {
        margin-top: 56px;
        margin-left: 45px;
        width: 160px;
        margin-right: 45px;
    }
    .menu-open {
        display: block;
    }
    .cards-container {
        margin-top: 68px;
        padding: 0 109px 0 109px;
        column-gap: 108px;
        row-gap: 5px;
        width: 79%;
    }
    .cards-container .title {
        font-size: 28px;
        letter-spacing: 3px;
    }
    .cards-container .title::after {
        right: 55%;
    }
    .cards-container .virtualtour {
        font-size: 22px;
        letter-spacing: -1.2px;
        margin-top: 20px;
    }
    .cards-container .streetview {
        font-size: 16px;
    }
    .cards-container a {
        min-width: 330px;
    }
    .cards-container a img {
        width: 330px;
    }
    .video-description {
        display: none;
    }
    .video .video-player {
        background-size: contain;
        display: block;
        padding-top: 25px;
        min-width: 984px;
        min-height: 504px;
        height: 504px;
    }
    .video .video-control-panel {
        position: absolute;
        bottom: 0px;
        min-height: 60px;
    }
    .booking {
        /* display: none; */
    }
    .video-slider-container>iframe {
        min-width: 300px;
        height: 170px;
    }
    .video-slider-container {
        height: auto;
    }
    .video {
        min-height: 855px;
    }
    .gallery-container img {
        width: 304px;
    }
    .gallery-container {
        /* column-gap: 0px; */
        height: 2020px;
    }
    .g-cont {
        /* width: 1022px; */
        margin: 0;
        padding: 0;
    }
    .gallery {
        max-height: 1312px;
    }
    .tickets-container {
        margin-top: 68px;
    }
    .tickets-container>img {
        width: 700px;
        height: 440px;
    }
    .ticket-type {
        display: none;
    }
    .ticket-selector {
        padding-left: 55px;
        display: block;
    }
    .ticket-amount {
        margin-left: 0;
        float: right;
        width: 203px;
    }
    .ticket-amount h2 {
        margin-left: 0px;
    }
    .amount-container {
        margin-right: auto;
        margin-left: 0;
        width: 175px;
    }
    .amount-block:first-child {
        margin-top: 29px;
    }
    .amount-block {
        margin-top: 27px;
    }
    .amount {
        margin-top: 15px;
    }
    .total {
        margin-left: 0;
        margin-top: revert;
    }
    .buy-button {
        margin-top: 68px;
        color: #fff;
        font-weight: 100;
        background-color: #000;
        border-radius: 2px;
    }
    .tickets {
        min-height: 572px;
    }
    .parallax {
        padding: 0;
    }
    .contacts-description {
        font-size: 24px;
        margin-top: 65px;
        line-height: 28px;
        margin-bottom: 28px;
    }
    .contacts img {
        margin-top: 65px;
        width: 694px;
        height: 454px;
    }
    .contacts-address {
        font-size: 20px;
        line-height: 38px;
    }
    .contacts {
        min-height: unset;
        padding-bottom: 63px;
    }
    footer {
        padding-top: 37px;
    }
    footer nav {
        min-width: unset;
    }
    footer nav ul {
        padding-left: 5px;
        width: 402px;
        column-gap: 30px;
    }
    footer nav ul li {
        max-width: 150px;
    }
    .social {
        min-width: 369px;
        justify-content: unset;
        margin-top: 93px;
    }
    .social ul {
        padding-left: 4px;
    }
    .social ul li {
        margin-left: 0;
        margin-right: 26px;
    }
    .booking-container {
        width: 100%;
        height: 76%;
        padding-top: 3%;
        margin: 0;
        margin-top: 70px;
    }
    .booking-container>.content {
        padding: 41px 26px;
    }
    .payment-close {
        right: 2.5%;
    }
    .image-container {}
    .header-container {
        display: block;
    }
}